<div class="card" style="width: 800px; ">
  <div class="card-body">
    <div class="rowLeft">
      <img src="assets/avatar.webp" alt="" width="55" height="55" style="border-radius: 50%;">
      <div style="margin-left: 10px;">
        <h5 style="margin-top: 13px;">r/subreddit</h5>
        <p style="margin-top: -10px;">u/username</p>
      </div>
      <div class="row"></div>
      <button type="submit" class="btn btn-primary" style="border-radius: 10px;">Join</button>
    </div>
    <div style="margin-left: 10px;">
      <p
        style="margin-top: 10px; background-color: orangered; padding: 5px; width: fit-content; border-radius: 8px; color: white;">
        Flair</p>
    </div>
    <p class="card-text" style="margin-top: 5px;">{{post.title}}</p>
    <p class="card-text" style="margin-top: 5px;">{{post.text}}</p>
  </div>
  <div style="padding: 10px;" *ngIf="post.imagePath != null">
    <img src="{{post.imagePath}}" class="card-img-top" alt="...">
  </div>
  <div style="padding: 10px;">
    <div style="padding: 10px;" class="rowLeft">
      <img src="assets/arrow_up.png" alt="" width="30" height="30">
      <h5 style="margin-top: 5px; margin-left: 10px;">2134</h5>
      <img src="assets/arrow_up.png" alt="" width="30" height="30" class="rotateimg180" style="margin-left: 10px;">
      <div class="row"></div>
      <img src="assets/comment.png" alt="" width="25" height="25" style="margin-right: 5px;">
      <h5 style="margin-top: 5px; margin-right: 20px;">Comment</h5>
      <img src="assets/flag.png" alt="" width="25" height="25">
      <h5 style="margin-top: 5px; margin-right: 5px;">Report</h5>
    </div>
  </div>
</div>