/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgba(73, 73, 74, 0.302);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
