<div class="col-md-4 offset-md-4 mt-4 center">
  <div class="outlinedDiv" style="margin-top: 170px;">
    <h2>Reset password</h2>
    <form style="margin-top: 40px;">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Old password</label>
        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="resetPassword.oldPassword">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">New password</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="resetPassword.newPassword">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" >Confirm new password</label>
        <input type="password" class="form-control" name="confirmNewPassword" [(ngModel)]="resetPassword.confirmNewPassword">
      </div>
      <button type="submit" class="btn btn-primary" (click)="tryResetPassword($event)">Reset</button>
    </form>
  </div>
</div>